body {
  background: #ffffff;
}

.navbar {
  border-radius: 0;
}
.navbar-brand {
  padding: 10px;
  line-height: normal;
  img {
    width: 30px;
    height: auto;
  }
}

.table {
  margin-bottom: 0px;
  border-bottom: 1px solid #ddd;
}